<!-- <footer class="footer bg-dark py-3 mt-auto "> -->
<footer class="footer py-3 mt-auto text-center" style="background-color: rgb(7, 15, 4)">
    <div class=" container">
        <span class="text-muted">&copy; SpearoSpotter 2023</span>
    </div>
</footer>