<% layout('layouts/boilerplate')%>
    <img src="/images/bg.jpg" alt="" class="background-image">
    <div class="container home-col">
        <div class="row home-row">
            <h1 class="text-center home-h1"> Welcome to SpearoSpotter!</h1>
        </div>
    </div>